@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    height: 100vh;
    /* background: linear-gradient(161deg, #0ae636 0%, #1a7506 35%, #197a08 54%, #ffffff 76%); */
    background-image: url(./assets/bgImage.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{

    /* background-color: white; */
    backdrop-filter: blur(10px);
    background: transparent;
    border: 4px solid #000;
    padding: 40px 80px;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    width: 900px;
}
.container .left img{
    width: 75%;
}
.container .left h2{
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;

}
.right .wordDisplay{
list-style-type: none;
display: flex;
gap: 20px;
justify-content: center;
margin-bottom: 20px;
align-items: center;
}
.right .wordDisplay .letter{
height: 60px;
width: 60px;
/* margin: 20px 30px 50px 60px ; */
/* padding: 10px 20px 30px ; */
display: flex;
justify-content: center;
align-items: center;
border-bottom: 4px solid black;
font-size: 28px;
color: red;
}
.right .wordDisplay .letter.show{
    border: none;
    color: blue;
    font-size: 35px;
    text-transform: uppercase;
}
.right .hintDisplay{
    margin: 20px 0px;
    font-size: 22px;
    /* text-align: center; */
}
.right .hintDisplay b{
    color: forestgreen;
}
.right .guessDisplay{
     margin: 20px 0px;
    font-size: 22px;
}
.right .guessDisplay b{
    color: crimson;
}
.keyboard{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.keyboard button{
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 12px;
    text-transform: uppercase;
    border: none;
    /* scale: 0.9; */
    transition: all 0.5s ease;
}
.keyboard button:hover{
    color: forestgreen;
    background-color: black;
    /* scale: 1.2; */
}
.keyboard button:disabled{
    pointer-events: none;
    position: relative;
}
.keyboard button:disabled::after{
    content: "X";
    height: 100%;
    width: 100%;
    position: absolute;
     font-family: "Caveat", cursive;
    left: 0;
    top: 0;
    font-size: 28px;
    font-weight: bold;
    color: red;
}
.gameModal{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    z-index: 999;
     backdrop-filter: blur(10px);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}
.gameModal.mShow{
    pointer-events: auto;
    opacity: 1;
}
.gameModal .gameBox{
background-color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 40px 10px;
border-radius: 20px;
box-shadow: 10px 10px 50px;
}
.gameModal .gameBox img{
    width: 25%;
}
.gameModal .gameBox h2{
    margin: 10px 0px;
    color: forestgreen;
    text-transform: capitalize;
}
.gameModal .gameBox button{
padding: 12px 8px;
font-size: 18px;
border-radius: 7px;
font-weight: bold;
background-color: powderblue;
border: none;
color: black;
transition: all 0.5s ease-in-out;
}
.gameModal .gameBox button:hover{
background-color: rgb(92, 205, 220);
font-size: 19px;

}